<div class="row">
    <div class="col-lg-3">
        <div class="ibox float-e-margins border ">
            <div class="ibox-title dash-title dashboard-ibox-title">
                <span class="textsize">Total User</span>
            </div>
            <div class="ibox-content inboxsize">
                <h2 class="dashboard_count"><%= totalUsers %></h2>
                
                <div class="top-1">
                    <a href="/admin/user/list" class="btn btn-primary mr-right" type="submit">View</a>                                                        

                </div>
            </div>
        </div>
    </div>
</div>



